/_build
/cover
/deps
/doc
/docs
erl_crash.dump
*.ez
*.beam
.DS_Store
/protobuf-*
/conformance_report
/protox_conformance
/priv/plts/*.plt
/priv/plts/*.plt.hash
/conformance-test-runner
.tool-versions
/benchmarks/benchmarks/
/benchmarks/*.benchee
/benchmarks/payloads.bin
/benchmarks/output
/failing_tests.txt
.lefthook-local.yml
