*.beam
*.benchee
*.ez
.DS_Store
.lefthook-local.yml
.tool-versions
/_build
/benchmark/output
/conformance-test-runner
/conformance_report
/cover
/deps
/doc
/docs
/failing_tests.txt
/priv/plts/*.plt
/priv/plts/*.plt.hash
/protobuf-*
/protox_conformance
erl_crash.dump
